<head>
  <meta charset="utf-8">

  <title><%= page_title %></title>

  <meta name="apple-mobile-web-app-title" content="<%= t('site.name') %>">
	<meta name="application-name" content="<%= t('site.name') %>">
  <!-- Don't automatically turn phone numbers (especially FAX numbers) into links -->
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#d6d7d9">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="<%= asset_path('meta/apple-touch-icon.png') %>">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" color="#004b8c" href="<%= asset_path('meta/safari-pinned-tab.svg') %>">
  <link rel="shortcut icon" href="<%= asset_path('meta/favicon-16x16.png') %>" sizes="16x16">
  <link rel="shortcut icon" href="<%= asset_path('meta/favicon-32x32.png') %>" sizes="32x32">

  <%= tag.link href: asset_path('application.css'), rel: 'stylesheet' %>

  <!--[if lt IE 9]>
	  <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
</head>
